name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libmemcached-dev memcached
    - name: Start memcached daemons
      run: |
        memcached -d -p 11211
    - name: Add memcached host to /etc/hosts
      run: |
        echo "127.0.0.1 memcached" | sudo tee -a /etc/hosts
    - name: Build
      run: ./build.sh
    - name: Test
      run: ./test.sh